body{
    background-color: #EAFAEA;
    text-align: center;
    margin:0;
    font-family: 'Merriweather',sans-serif;
}
h1{
    
    margin-top: 0;
    font-family: "Sacramento", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
}
.bottom-cloud{
    position:absolute;
    width: 100px;
    top: 180px;
}
.top-cloud{
    position: absolute;
    width: 100px;
    right:500px;
    top: 20px;
}
#mount{
    width: 40%;
}
.top-container{
    position: relative;
    padding-top: 100px;
}